@using ProjectManagement.AspNetMvc.PL.Models.DashboardViewModels
@model ReceivedTasksViewModel
@{
    ViewBag.Title = "RecievedTasks";
}
<div role="main">
    <div class="">
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-4">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>To Do</h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        @foreach (var item in Model.Todo)
                        {
                            <article class="media event">
                                <a class="pull-left date" style="background-color: green">
                                    <p class="month">@item.StartTime.Hours</p>
                                    <p class="month">@item.StartTime.Month</p>
                                    <p class="day">@item.StartTime.Day</p>
                                </a>
                                <a class="pull-left date" style="background-color: red">
                                    <p class="month">@item.DeadLine.Hours</p>
                                    <p class="month">@item.DeadLine.Month</p>
                                    <p class="day">@item.DeadLine.Day</p>
                                </a>
                                <div class="media-body">
                                    @Html.ActionLink(item.Title, "AboutTask", new {Id = item.Id}, null)
                                    <p style="word-wrap: break-word;">@item.Description</p>
                                </div>
                                <div class="media-body pull-right">
                                    @using (Html.BeginForm("ChangeStatus", "Dashboard", new {taskId = item.Id}, FormMethod.Post, new {@class = "form-horizontal", role = "form"}))
                                    {
                                        @Html.AntiForgeryToken()
                                        <button class="btn btn-primary pull-right">---></button>
                                    }
                                </div>
                            </article>
                        }
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>In Process</h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        @foreach (var item in Model.InProcess)
                        {
                            <article class="media event">
                                <a class="pull-left date" style="background-color: green">
                                    <p class="month">@item.StartTime.Hours</p>
                                    <p class="month">@item.StartTime.Month</p>
                                    <p class="day">@item.StartTime.Day</p>
                                </a>
                                <a class="pull-left date" style="background-color: red">
                                    <p class="month">@item.DeadLine.Hours</p>
                                    <p class="month">@item.DeadLine.Month</p>
                                    <p class="day">@item.DeadLine.Day</p>
                                </a>
                                <div class="media-body">
                                    @Html.ActionLink(item.Title, "AboutTask", new {Id = item.Id}, null)
                                    <p style="word-wrap: break-word;">@item.Description</p>
                                </div>
                                <div class="media-body pull-right">
                                    @using (Html.BeginForm("ChangeStatus", "Dashboard", new {taskId = item.Id}, FormMethod.Post, new {@class = "form-horizontal", role = "form"}))
                                    {
                                        @Html.AntiForgeryToken()
                                        <button class="btn btn-warning pull-right">---></button>
                                    }
                                </div>
                            </article>
                        }
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Done</h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        @foreach (var item in Model.Done)
                        {
                            <article class="media event">
                                <a class="pull-left date" style="background-color: green">
                                    <p class="month">@item.StartTime.Hours</p>
                                    <p class="month">@item.StartTime.Month</p>
                                    <p class="day">@item.StartTime.Day</p>
                                </a>
                                <a class="pull-left date" style="background-color: red">
                                    <p class="month">@item.DeadLine.Hours</p>
                                    <p class="month">@item.DeadLine.Month</p>
                                    <p class="day">@item.DeadLine.Day</p>
                                </a>
                                <div class="media-body">
                                    @Html.ActionLink(item.Title, "AboutTask", new {Id = item.Id}, new AjaxOptions { UpdateTargetId = "ajaxcontent" })
                                    <p style="word-wrap: break-word;">@item.Description</p>
                                </div>
                            </article>
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
