@{
    ViewBag.Title = "RecievedTasks";
}
@section LeftColumnDashboard {
    @Html.Action("LeftColumnDashboardPartial")
}
@section ButtonDashboard {
    @Html.Action("ButtonDashboardPartial")
}
<div class="right_col" role="main">
    <div class="">
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-4">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>To Do</h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <article class="media event">
                            <a class="pull-left date" style="background-color: green">
                                <p class="month">20:22</p>
                                <p class="month">April</p>
                                <p class="day">23</p>
                            </a>
                            <a class="pull-left date" style="background-color: red">
                                <p class="month">20:22</p>
                                <p class="month">April</p>
                                <p class="day">23</p>
                            </a>
                            <div class="media-body">
                                <a class="title" href="#">Do my course task</a>
                                <p>A lot of words about it and i don't have time! A lot of words about it and i don't have time! A lot of words about it and i don't have time!</p>
                                @using (Html.BeginForm("ChangeStatus", "Dashboard", null, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                                {
                                    @Html.AntiForgeryToken()
                                    <button class="btn btn-primary pull-right">---></button>
                                }
                            </div>
                        </article>
                        <article class="media event">
                            <a class="pull-left date" style="background-color: green">
                                <p class="month">20:22</p>
                                <p class="month">April</p>
                                <p class="day">23</p>
                            </a>
                            <a class="pull-left date" style="background-color: red">
                                <p class="month">20:22</p>
                                <p class="month">April</p>
                                <p class="day">23</p>
                            </a>
                            <div class="media-body">
                                <a class="title" href="#">Do my course task</a>
                                <p>A lot of words about it and i don't have time! A lot of words about it and i don't have time! A lot of words about it and i don't have time!</p>
                                @using (Html.BeginForm("ChangeStatus", "Dashboard", null, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                                {
                                    @Html.AntiForgeryToken()
                                    <button class="btn btn-primary pull-right">---></button>
                                }
                            </div>
                        </article>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>In process</h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <article class="media event">
                            <a class="pull-left date" style="background-color: green">
                                <p class="month">20:22</p>
                                <p class="month">April</p>
                                <p class="day">23</p>
                            </a>
                            <a class="pull-left date" style="background-color: red">
                                <p class="month">20:22</p>
                                <p class="month">April</p>
                                <p class="day">23</p>
                            </a>
                            <div class="media-body">
                                <a class="title" href="#">Do my course task</a>
                                <p>A lot of words about it and i don't have time! A lot of words about it and i don't have time! A lot of words about it and i don't have time!</p>
                                <button class="btn btn-success pull-right">---></button>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Done</h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <article class="media event">
                            <a class="pull-left date" style="background-color: green">
                                <p class="month">20:22</p>
                                <p class="month">April</p>
                                <p class="day">23</p>
                            </a>
                            <a class="pull-left date" style="background-color: red">
                                <p class="month">20:22</p>
                                <p class="month">April</p>
                                <p class="day">23</p>
                            </a>
                            <div class="media-body">
                                <a class="title" href="#">Do my course task</a>
                                <p>A lot of words about it and i don't have time! A lot of words about it and i don't have time! A lot of words about it and i don't have time!</p>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
@section Styles {
    @Styles.Render("~/Content/Gentelella")
}
