@using ProjectManagement.AspNetMvc.PL.HtmlHelpers
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title - Project Management</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("Styles", required: false)
    @*@Html.RenderResources("css")*@
</head>
<body class="nav-md">
<div class="container body">
    <div class="main_container">
        <!-- left side navigation column -->
        @RenderSection("LeftColumnDashboard", required: false)
        <!-- left side navigation column -->
        <!-- top navigation -->
        <div class="top_nav">
            <div class="nav_menu">
                <nav class="navbar navbar-default" role="navigation">
                    @RenderSection("ButtonDashboard", required: false)
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        @Html.ActionLink("PM", "Index", "Home", new {area = ""}, new {@class = "navbar-brand"})
                    </div>
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav navbar-left">
                            <li>@Html.ActionLink("Main", "Index", "Home")</li>
                            @if (Request.IsAuthenticated)
                            {
                                <li>@Html.ActionLink("Dashboard", "ReceivedTasks", "Dashboard")</li>
                            }
                        </ul>
                        @Html.Partial("_AccountButtonPartial")
                    </div>
                </nav>
            </div>
        </div>
        <!-- top navigation -->
        <!-- page content -->
        @RenderBody()
        <!-- page content -->
        <!-- footer content -->
        <footer>
            <div class="footer_fixed pull-right">
                <p>&copy; Edgar Mengel | ASP.NET MVC 5 | EPAM Course Project | Summer 2017 </p>
            </div>
            <div class="clearfix"></div>
        </footer>
        <!-- footer content -->
    </div>
</div>

@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/bundles/fastclick")
@Scripts.Render("~/bundles/nprogress")
@Scripts.Render("~/bundles/Chart")
@Scripts.Render("~/bundles/Gentelella")
@RenderSection("Scripts", required: false)
</body>
</html>