@{
    ViewBag.FirmName = "Project Management";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title - Project Management</title>
    @Styles.Render("~/Content/bootstrap")
    @Styles.Render("~/Content/Gentelella")
    @*@Styles.Render("~/Content/Datepicker")*@
    @RenderSection("Styles", required: false)
</head>
<body class="nav-md">
    <div class="container body">
        <div class="main_container">
            <!-- left side navigation column -->
            <div class="col-md-3 left_col">
                <div class="left_col scroll-view">
                    <div class="navbar nav_title" style="border: 0;">
                        <a href="~/Home/Index" class="site_title">
                            <i class="fa fa-calendar-check-o" aria-hidden="true"></i> <small>@ViewBag.FirmName</small>
                        </a>
                    </div>
                    <!-- sidebar menu -->
                    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                        <div class="menu_section">
                            <br /><br /><br /><br />
                            <h3>General</h3>
                            <ul class="nav side-menu">
                                <li>
                                    <a><i class="fa fa-edit"></i> Recieved tasks <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li>@Ajax.ActionLink("Show", "ReceivedTasks", "Dashboard", new AjaxOptions { UpdateTargetId = "ajaxcontent" })</li>
                                        <li>@Ajax.ActionLink("Statistics", "Statistics", "Dashboard", new AjaxOptions { UpdateTargetId = "ajaxcontent" })</li>
                                    </ul>
                                </li>
                                <li>
                                    <a><i class="fa fa-sitemap"></i> Given tasks <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li>@Ajax.ActionLink("Show", "GivenTasks", "Dashboard", new AjaxOptions { UpdateTargetId = "ajaxcontent" })</li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- sidebar menu -->
                </div>
            </div>
            <!-- left side navigation column -->
            <!-- top navigation -->
            <div class="top_nav">
                <div class="nav_menu">
                    <nav class="navbar navbar-default" role="navigation">
                        <div class="navbar-header">
                            <div class="nav toggle">
                                <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                            </div>
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>
                        <div class="navbar-collapse collapse">
                            @Html.Partial("_NavBarLinks")
                        </div>
                    </nav>
                </div>
            </div>
            <!-- top navigation -->
            <!-- page content -->
            <div id="main_content" class="right_col">
                <div id="ajaxcontent">
                    @*<h1>Please, turn on JavaScript in your computer</h1>*@
                    @RenderBody()
                </div>
            </div>
            <!-- page content -->
            <!-- footer content -->
            <footer>
                <div class="footer_fixed pull-right">
                    <p>&copy; Edgar Mengel | ASP.NET MVC 5 | EPAM Course Project | Spring-Summer 2017 </p>
                </div>
                <div class="clearfix"></div>
            </footer>
            <!-- footer content -->
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/Gentelella")
    @RenderSection("Scripts", required: false)
</body>
</html>
