@{
    ViewBag.UserProfileButton = Request.IsAuthenticated ? User.Identity.Name : "Sign In";
}
<ul class="nav navbar-nav navbar-left">
    <li>@Html.ActionLink("Main", "Index", "Home")</li>
    @if (Request.IsAuthenticated)
    {
        <li>@Html.ActionLink("Dashboard", "ReceivedTasks", "Dashboard")</li>
    }
</ul>
<ul class="nav navbar-nav navbar-right">
    <li class="">
        <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
            <i class="fa fa-id-card-o" aria-hidden="true"></i> @ViewBag.UserProfileButton

            <span class="fa fa-angle-down"></span>
        </a>
        <ul class="dropdown-menu dropdown-usermenu pull-right">
            @if (Request.IsAuthenticated)
            {
                <li>@Html.ActionLink("Profile", "Edit", "Profile", new {}, htmlAttributes: new {title = "Manage"})</li>
                <li>
                    @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, null))
                    {
                        @Html.AntiForgeryToken()
                        @*<input type="button" name="logout" value="" style="display: block; padding: 3px 20px; clear: both; font-weight: normal; line-height: 1.42857143; color: #333; white-space: nowrap; text-decoration: none; background-color: transparent; box-sizing: border-box; border-style: none; width: 100%";/>*@
                        @*<input type="submit" value="Log Out" class="btn btn-default" />*@
                        <button >
                            <i class="fa fa-sign-out pull-right"></i>
                            <p class="pull-left">Log Out</p>
                        </button>
                    }
                </li>
            }
            else
            {
                <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new {id = "registerLink"})</li>
                <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new {id = "loginLink"})</li>
            }
        </ul>
    </li>
</ul>
